.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    align-items: center;
    background-color: var(--headerColor);
    width: 100%;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    margin-left: 2rem;
}
.nav a{
  color: white;
  text-decoration: none;
  

}

.active{
  color: var(--mainColor);
}



@media (max-width: 722px) {
    .name{
      display: none;
    }
    .nav ul{
        display: flex;
        justify-content: space-around;
        
    }
    .lists{
        width: 90%;
    }
    
}

@media (max-width: 525px) {
    .nav{
        padding: 1.5rem 0;
    }
    .nav ul {
        justify-content: space-around;
    }
    .lists{
        margin: auto;
    }
    .nav ul li{
        margin: 0;
        padding: 0;
    }
}