
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*::before, *::after {
  box-sizing: border-box;
}

:root {
  --bgColor: #0f172a;
  --headerColor : #0c162f;
  --mainColor : #b620bd;
}
html{
  overflow-x: hidden;
}
body{
  background-color: var(--bgColor);
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

button,select{
  cursor: pointer;
}

button:hover{
  box-shadow: 0 0 10px 2px var(--mainColor);
}

input:hover{
  box-shadow: 0 0 10px 2px var(--mainColor);
}

select:hover{
  box-shadow: 0 0 10px 2px var(--mainColor);
}

a{
  text-decoration: none;
}


@media (max-width:500px) {
  body{
    font-size : 0.8rem;
  }
}