* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about {
  width: 70%;
  margin: 0 auto;
}

.name h2 {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #c279a1,
    #bc6da0,
    #b562a0,
    #ac56a0,
    #a24ca2
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name::before {
  content: "Hello its Me";
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.name::after {
  content: "Web Developer & Java Developer";
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0.2rem;
}

.desc {
  margin: 10px 0;
}
.skills {
  display: flex;
  margin-top: 5px;
}
.skills p {
  background-color: gray;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0 20px;
  margin-left: 0;
}
.btnDiv button {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    to right,
    #c279a1,
    #bc6da0,
    #b562a0,
    #ac56a0,
    #a24ca2
  );
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2rem 0;
}

.icons {
  display: flex;
}

.icons a {
  color: white;
}

.icon {
  margin: 0.7rem;
  padding: 0.5rem;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 6px 8px var(--mainColor);
}

.mainImg {
  border: 2px solid var(--mainColor);
  border-radius: 40%;
  width: 60%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 0 0 100px 2px var(--mainColor);
  overflow: hidden;
}

.mainImg img {
  position: relative;
  top: 2rem;
  height: 20rem;
  filter: grayscale(100%);
}
.container2 {
  width: 90vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 0 auto;
}

.aboutMe h2 {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #c279a1,
    #bc6da0,
    #b562a0,
    #ac56a0,
    #a24ca2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnDivAbout {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnDivAbout button {
  margin: 0 1rem;
  padding: 10px 25px;
  align-items: center;
  background-color: inherit;
  color: white;
  border: 0.1px solid white;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #6751bb,
    #9055b6,
    #af5db1,
    #c867ab,
    #db75a7
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnIcons{
  font-size: 22px;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    height: 75vh;
  }

  .mainImg {
    grid-row: 1;
    width: 50%;
  }

  .about {
    grid-row: 2;
  }
}

@media (max-width: 830px) {
  .aboutMe {
    padding: 1rem 2rem;
  }
}

@media (max-width: 675px) {
  .mainImg {
    width: 70%;
  }
  .about {
    width: 80%;
  }
}

@media (max-width: 525px) {
  .name h2 {
    font-size: 1.5rem;
  }
  .name::before {
    font-size: small;
  }
  .name::after {
    font-size: medium;
  }
  .skills p {
    padding: 2px 10px;
    margin: 0 10px;
    margin-left: 0;
  }
  .btnDivAbout {
  }
  .btnDivAbout button {
    margin: 15px 5px;
    padding: 10px 10px;
  }
}

@media (max-width: 445px) {
  .mainImg img {
    height: 12rem;
  }

  .about {
    width: 90%;
  }
}
