*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icons{
    display: flex;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 1rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 6px 8px var(--mainColor);
}

.header{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-weight: bolder;
   font-size: xx-large;
}
.header :nth-child(2){
  background: linear-gradient(to right, #c279a1, #bc6da0, #b562a0, #ac56a0, #a24ca2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnDiv button{
    padding: 0.5rem 4rem;
     background: linear-gradient(to right, #c279a1, #bc6da0, #b562a0, #ac56a0, #a24ca2);
     border: 1px solid white;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
}


.btnDiv button:hover{
    box-shadow: 0 0 10px 2px var(--mainColor);
}

.btnDiv button .ic{
    font-size: large;
    margin-right: 8px;
}


@media (max-width: 650px) {
    .container{
        width: 100%;
        aspect-ratio: 1;
    }
}
