*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.header h2{
    background: linear-gradient(to right, #c279a1, #bc6da0, #b562a0, #ac56a0, #a24ca2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin: 0.5rem;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 2rem;
}

.section1 button{
    padding: 1rem 4rem;
     background: linear-gradient(to right, #c279a1, #bc6da0, #b562a0, #ac56a0, #a24ca2);
     border: none;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     margin: 1rem;
}

.section1 button:hover{
     box-shadow: 0 0 10px 2px var(--mainColor);
}

.iconImg{
    margin-right: 8px;
    font-size: large;
}



@media (max-width: 830px) {
    .section1 button{
        padding: 0.5rem 1rem;
    }
    .header {
        width: 90%;
    }
}

@media (max-width: 525px) {
    .header h2{
        font-size: 2rem;
    }
    .header p{
        width: 90%;
    }
    .section1 button{
        margin: 0.6rem;
    }
}


@media (max-width: 445px) {
    .section1 button{
        margin: 0.3rem;
        padding: 0.5rem 0.7rem;
    }
}